@charset "utf-8";

/* CSS DOCUMENT */

body{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
   
}

*{
    box-sizing: border-box;
    scroll-behavior: smooth;
}


nav .menu-button{
    display:none;
}


ul{
    list-style: none;
}

a{
    text-decoration: none;
}

#home{
    width: 100%;
    height: 100vh;
    position: relative;
}

nav{
  display: flex;
  justify-content: space-around; 
  align-items: center;
  box-shadow: 5px 10px rgba(0,0,0,0.02);
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1;
  background-color: #FFFFFF;
  padding: 2rem 0;
}

.nav-logo img{
    height: 45px;
}

nav ul{
    display: flex;
}

nav ul li a{
    height: 40px;
    line-height: 43px;
    margin: 3px;
    padding: 0px 22px;
    display: flex;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 500;
    color: #585b5b;
    letter-spacing: 1px;
}


nav ul li a:hover{
    background-color: #209CEE;
    color:#FFFFFF;
    box-shadow: 5px 10px 30px rgba(64,198,196,0.3);
    transition: all ease 0.2s;
}


/* content */

.facelogo img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.facelogo{
    width: 500px;
    height: 500px;
}

.content{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    margin-top: 2rem;
}


.text{
    width: 500px;
}

.text h1{
    font-size: 3.5rem;
    color: #07087e;
    margin: 0 0 10px 0;
    line-height: 60px;
}

.text p{
    color: #747474;
}

.myportfolio{
    width: 190px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-color: #209cee;;
    border-radius: 20px;
    box-shadow: 4px 10px 30px rgba(24,139,119,0.2);
}

.myportfolio:hover{
    background-color: #07087e;
    transition: all ease 0.2s;
}


.language-button{
    width: 190px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-color: #209cee;;
    border-radius: 20px;
    box-shadow: 4px 10px 30px rgba(24,139,119,0.2);
    margin: 1rem auto;
}

.language-button:hover{
    background-color: #07087e;
    transition: all ease 0.2s;
}

#language-button-english{
    background-color: #07087e;
}

/* skills section */


#skills{
	display: flex;
	justify-content: space-around;
	align-items: center;
	width:90%;
	margin: 1rem auto 1rem auto;
}

.skill-text{
	width:400px;
}

.skill-img{
	width:600px;
    height: 600px;
 
}

.skill-img img{
	width:100%;
	height: 100%;
    object-fit: contain;
}

.skill-heading h2{
	color: #1c3548;
	font-size: 3.3rem;
	margin:0px;
	font-weight: 400;
	letter-spacing: 1px;
}

.s-box-container{
	margin-top: 30px;
}

.skill-box{
	display: flex;
	margin: 25px 0px;
}

.s-box-icon{
	margin-right:12px;
}

.s-box-icon i{
	width:40px;
	height: 40px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #f0f0f0;
	font-size: 1.1rem;
}

.s-box-text strong{
	color:#1c3548;
	margin: 0px;
	font-size: 0.9rem;
	font-weight: 600;
}

.s-box-text p{
	color:#747474;
	font-size: 0.9rem;
}

.fa-html5{
	color:#e06061;
}

.fa-css3-alt{
	color:#416cdf;
}

.fa-js-square{
	color:#f98231;
}


/* CERTIFICATES */

.certificate-html{
   display: flex;
   justify-content: center;
}


/* instafeed section */



#instafeed {
    max-width:1080px;
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}
    
#instafeed.a {
      display: flex;
      align-items: center;
      position: absolute;
      width: 20%;
      background: white;
      display: none;
    }

#instafeed img{
 width: 180px;
 height: 180px;
 display: block;
 border-radius: 15px;
 margin: 1rem 1rem 1rem 1rem;
}    

.instafeed-container{
    margin: auto;
    max-width: 450px;
}

.instafeed-container-box{
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.horizontal-rule1,.horizontal-rule2{
    width: 100%;
    height: 20px;
    background-color: #209CEE;
}

.horizontal-rule1{
    margin-top: 3rem;
}

.instafeed-text{
    display: flex;
    justify-content: center;

}

.image__title{
    display: flex;
    justify-content: center;
    color: #209CEE;
}

/* CONTACT AND FOOTER SECTION */


#contact{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 40px 0px;
}

#contact h3{
	font-size: 2.5rem;
	margin: 20px;
}

#contact img{
	height:300px;
}

.contact-input{
	width: 400px;
	height: 50px;
	background-color: #FFFFFF;
	display: flex;
	justify-content: center;
	border-radius: 50px;
	box-shadow: 2px 2px 30px rgba(0,0,0,0.30);
}

.contact-input input{
	width:100%;
	background-color: transparent;
	border:none;
	outline: none;
	text-align: center;
	color:#242425;
}

.contact-input a{
	width:200px;
	height:35px;
	background-color: #209CEE;
	color:#FFFFFF;
	display: flex;
	font-size: 0.9rem;
	justify-content: center;
	align-items: center;
	margin: auto 10px;
	border-radius: 20px;
	font-weight: 500;
}

.contact-input a:hover{
	width:200px;
	height:35px;
	background-color: #3dabf5;
	color:#FFFFFF;
	display: flex;
	font-size: 0.9rem;
	justify-content: center;
	align-items: center;
	margin: auto 10px;
	border-radius: 20px;
	font-weight: 500;
}


/* FOOTER */

.copyright{
    background-color: #209CEE;
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: flex;
    justify-content: center;
}

.copyright p{
    color: #FFF;
    padding-left: 1rem;
}

.media-links{
    background-color: #242425;
    display: flex;
    justify-content: center;
}

.footer-icon{
    color: #FFF;
    padding: 2rem 1rem;
}


/* MEDIA QUERIES */

nav .menu-btn,
.menu-icon{
		display:none;
	}
@media(max-width:1140px){
	.content{
		width:100%;
    }
    
	.facelogo{
		width:400px;
		height: 400px;
    }
    
	.text,.facelogo{
		margin:10px;
    }
    
	.text h1{
		font-size:3rem;
    }
    
    .certificate-html img{
      display: flex;
      justify-content: center;
      height: 700px;
      width: 700px;
      object-fit: contain;
    }

	.skill-img{
		width:400px;
		height: 400px;
    }
    
    nav .menu-button{
		display:none;
    }

}
@media(max-width:900px){
   .menu-icon{
     display:block;
    }

	nav{
		justify-content: space-between;
		height: 65px;
		padding: 0px 30px;
    }
    
    .certificate-html img{
        display: flex;
        justify-content: center;
        height: 700px;
        width: 700px;
        object-fit: contain;
      }

	.logo img{
		height:35px;
    }
    
	.menu{
		display:none;
		position:absolute;
		top:65px;
		left:0px;
		background-color:#FFFFFF;
		border-bottom:4px solid #1db096;
		width:100%;
		padding:0px;
		margin:0px;
	}
	.menu li{
		width:100%;
	}
	nav .menu li a{
		width:100%;
		height:40px;
		justify-content: center;
		align-items: center;
		margin:0px;
		padding: 25px;
		border:1px solid rgba(38,38,38,0.03);
	}
	nav .menu-icon{
		cursor:pointer;
		float:right;
		padding:28px 20px;
		position:relative;
		user-select: none;
    }
    
	nav .menu-icon .nav-icon{
		background-color:#333333;
		display:block;
		height:4px;
		position:relative;
		transition: background 0.2s ease-out;
		width:23px;
    }
    
	nav .menu-icon .nav-icon:before,
	nav .menu-icon .nav-icon:after{
		background:#333;
		content:'';
		display: block;
		height: 100%;
		position: absolute;
		transition: all ease-out 0.2s;
		width: 100%;
    }
    
	nav .menu-icon .nav-icon:before{
		top:5px;
    }
    
	nav .menu-icon .nav-icon:after{
		top:-5px;
    }
    
	nav .menu-button:checked ~ .menu-icon .nav-icon{
		background:transparent;
    }
    
	nav .menu-button:checked ~ .menu-icon .nav-icon:before{
		transform: rotate(-45deg);
		top:0;
    }
    
	nav .menu-button:checked ~ .menu-icon .nav-icon:after{
		transform: rotate(45deg);
		top:0;
    }
    
	nav .menu-button{
		display:none;
    }
    
	nav .menu-button:checked ~ .menu{
		display:block;
    }
    
	#skills{
		width:100%;
		justify-content: space-between;
		padding-left: 40px;
    }
    
	.skill-text{
		width:400px;
    }
    
	.skill-img{
		width:40%;
        height:300px;
        padding-right: 3rem;
        margin-bottom: 1rem;
    }
    
	.skill-img img{
		object-fit: contain;
		object-position: left;
	}
	
	#contact h3{
		font-size:3rem;
		text-align:center;
	}

	
}
@media(max-width:720px){
	.facelogo{
		display:none;
    }
    
    #language-button-english{
          margin-top: 400px;
          
    }

    .language-button{
        margin-right: 273px;
    }

	.text{
		width:70%;
		position:absolute;
		left:50%;
		top:50%;
		transform:translate(-50%,-50%);
		
    }
    
	#contact img{
		height:200px;
    }
    
	footer{
		justify-content: center;
		padding:10px 20px;
    }
    
	footer p{
		text-align: center;
    }
 
}
@media(max-width:530px){

    .language-button{
        margin-right: 150px;
    }

	.contact-input{
		width:90%;
    }
    
	.skill-img{
		display:none;
    }
    
	.skill-text{
        width:85%;
        
    }
    
    .certificate-html img{
        display: flex;
        justify-content: center;
        height: 300px;
        width: 300px;
        object-fit: contain;
      }

	#skills{
		margin:0px;
    }

    .s-box-text{
        text-align: center;
    }

    .skill-heading h2{
        text-align: center;
    }
    
    
}


















